.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 23rem;
    margin: 4.8rem auto;
    
}

.card__img {
    max-width: 4rem;
    max-height: 4.1rem;
    margin-bottom: 1rem;
}

.card__title {
    font-family: var(--raleway);
    color: var(--white);
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
}

.card__description {
    font-family: var(--openSans);
    text-align: center;
    color: azure;
    margin-top: 0.3rem;
    max-width: 20rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: 0.04rem;
}
